* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #F2E9E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  width: 50%;
  border-radius: 15px;
}

.preview {
  background-image: url("../images/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 15px 0px 0px 15px;
}

.info {
  background: #fff;
  padding: 30px;
  border-radius: 0px 15px 15px 0px;
}

.second_title {
  color: #888;
  letter-spacing: 5px;
  font-size: 15px;
  margin-bottom: 30px;
}

.first_title {
  color: #24272C;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.text_info {
  color: #888;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 15px;
}

.money {
  display: flex;
}

.money .big {
  color: #3D8168;
  font-size: 30px;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.money .small {
  color: #888;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: 700;
  margin-left: 15px;
}

button {
  color: #fff;
  background: #3D8168;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 12px;
  padding: 20px 40px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  background: #2d5e4c;
}

.attribution {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.attribution a {
  text-decoration: none;
  color: #3D8168;
}

.attribution a:hover {
  text-decoration: none;
  color: #2d614e;
}

@media screen and (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
  }

  .preview {
    background-image: url("../images/image-product-mobile.jpg");
    background-size: cover;
    height: 30vh;
    border-radius: 15px 15px 0px 0px;
  }

  .info {
    border-radius: 0px 0px 15px 15px;
  }

  .text_info {
    margin-bottom: 50px;
  }

  .attribution {
    flex-wrap: wrap;
  }
}
